menu "Example Configuration"

    config EXAMPLE_CLIENT_ID
        string "Baidu Client Id"
        default "baidu_client_id"
        help
                Client id for baidu.

    config EXAMPLE_CLIENT_SECRET
        string "Baidu Client Secret"
        default "baidu_access_token"
        help
                Client Secret for baidu.

    config EXAMPLE_WIFI_SSID
        string "wifi ssid"
        default "my_wifi_ssid"
        help
                Wifi SSID.

    config EXAMPLE_WIFI_PSWD
        string "wifi pswd"
        default "my_wifi_pswd"
        help
                Wifi PASSWORD.

endmenu
