menu "USB Device CDC Configuration"

    menu "TinyUSB Configuration"

        config TUSB_VID
            hex "USB Device VID"
            default 0x303A
        config TUSB_PID
            hex "USB Device PID"
            default 0x2986 if HID_TOUCH_ENABLE || UAC_AUDIO_ENABLE
            default 0x2987 if !HID_TOUCH_ENABLE && !UAC_AUDIO_ENABLE
        config TUSB_MANUFACTURER
            string "USB Device Manufacture"
            default "Espressif"

        choice TINYUSB_RHPORT
            prompt "TinyUSB Root Port"
            default TINYUSB_RHPORT_HS if IDF_TARGET_ESP32P4
            default TINYUSB_RHPORT_FS
            help
                Allows set the USB PHY Controller for TinyUSB: HS (USB OTG2.0 PHY for HighSpeed)

            config TINYUSB_RHPORT_HS
                depends on IDF_TARGET_ESP32P4
                bool "High Speed"

            config TINYUSB_RHPORT_FS
                bool "Full Speed"
        endchoice


    endmenu

    menu "Communication Device Class (CDC)"
        config TINYUSB_CDC_RX_BUFSIZE
            int "CDC FIFO size of RX channel"
            default 512
            range 64 10000
            help
                CDC FIFO size of RX channel.
    endmenu

endmenu
